<main class="typeCard">
  <article class="input-row">
    <section class="col-12 col-lg-6 column right">
      <mat-form-field appearance="fill">
        <mat-label>Minta darabszám</mat-label>
        <input matInput [formControl]="embroideryQuantity">
        <span matTextSuffix>db</span>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Normál cérna</mat-label>
        <input matInput [formControl]="stitches">
        <span matTextSuffix>öltés</span>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Sulky cérna</mat-label>
        <input matInput [formControl]="stitchesSulky">
        <span matTextSuffix>öltés</span>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Arany cérna</mat-label>
        <input matInput [formControl]="stitchesGold">
        <span matTextSuffix>öltés</span>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Texlight cérna</mat-label>
        <input matInput [formControl]="stitchesTex">
        <span matTextSuffix>öltés</span>
      </mat-form-field>
    </section>
    <section class="col-12 col-lg-6 column right">
      <div class="output">
        <mat-form-field appearance="fill" style="width: 50%; padding-right: 2%;" floatLabel="always">
          <mat-label>Határidő</mat-label>
          <input matInput [formControl]="dueDate">
          <span matTextSuffix>Nap</span>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" style="width: 50%; padding-right: 2%;">
          <mat-label>Egy folt ára</mat-label>
          <input matInput readonly="true" [value]="pricePerPatch.toString()">
          <span matTextSuffix>Ft</span>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 50%; padding-left: 2%; padding-right: 1%;">
          <mat-label>Összesített ár</mat-label>
          <input matInput readonly="true" [value]="price.toString()">
          <span matTextSuffix>Ft</span>
          <mat-hint>Az összesített ár tartalmaz <span style="font-weight: bold">{{ this.basePriceHint }} Ft</span> tervezési költséget.</mat-hint>
        </mat-form-field>
      </div>
      <!--<img mat-card-image>-->
      <div style="width: 50%; padding-right: 2%;"></div>
      <mat-form-field appearance="fill" style="width: 50%; padding-right: 2%;" class="d-none d-lg-block">
        <mat-label>Elnevezés</mat-label>
        <input matInput [formControl]="name" maxlength="28">
      </mat-form-field>
      <div class="submitButtons">
        <button type="submit" mat-raised-button class="btn" (click)="calculate()" style="margin-right: 1%;">Számol</button>
        <button type="submit" mat-raised-button class="btn d-none d-lg-flex" (click)="addToBasket()" style="margin-left: 1%;">Kosárhoz ad</button>
      </div>
    </section>
  </article>
</main>
