<main class="typeCard container">
    <article class="row">
        <section class="column">
            <mat-form-field appearance="fill">
                <mat-label>Rendelés darabszám</mat-label>
                <input matInput [formControl]="patchQuantity">
                <span matTextSuffix>db</span>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Átmérő</mat-label>
                <input matInput [formControl]="patchDiameter">
                <span matTextSuffix>cm</span>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Normál cérna</mat-label>
                <input matInput [formControl]="patchStitches">
                <span matTextSuffix>öltés</span>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Sulky cérna</mat-label>
                <input matInput [formControl]="patchStitchesSulky">
                <span matTextSuffix>öltés</span>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Arany cérna</mat-label>
                <input matInput [formControl]="patchStitchesGold">
                <span matTextSuffix>öltés</span>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Texlight cérna</mat-label>
                <input matInput [formControl]="patchStitchesTex">
                <span matTextSuffix>öltés</span>
            </mat-form-field>
        </section>
        <section class="column">
            <div class="output">
                <mat-form-field appearance="fill" style="width: 50%; padding-right: 2%;">
                    <mat-label>Határidő</mat-label>
                    <input matInput [formControl]="dueDate">
                    <span matTextSuffix>Nap</span>
                </mat-form-field>
                <br>
              <mat-form-field appearance="fill" style="width: 50%; padding-right: 2%;">
                <mat-label>Egy folt ára</mat-label>
                <input matInput readonly="true" [value]="pricePerPatch.toString()">
                <span matTextSuffix>Ft</span>
              </mat-form-field>
                <mat-form-field appearance="fill" style="width: 50%; padding-left: 2%;">
                    <mat-label>Összesített ár</mat-label>
                    <input matInput readonly="true" [value]="price.toString()">
                    <span matTextSuffix>Ft</span>
                  <mat-hint>Az összesített ár tartalmaz <span style="font-weight: bold">{{ this.basePrice }} Ft</span> tervezési költséget.</mat-hint>
                </mat-form-field>
            </div>
            <!--<img mat-card-image>-->
            <button mat-raised-button class="btn" (click)="calculate()">Számol</button>
        </section>
    </article>
</main>
