.basket-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.typeIcon {
  transform: scale(2);
}
.typeIconSVG {
  height: 48px;
  width: 48px;
  margin-left: -12px;
  margin-top: -12px;
  margin-right: -8px;
  opacity: 60%;
  text-shadow: #000 2px 2px 3px 0;
  color: #FFFFFF99;
}
.basket-cont {
  margin-left: 6px;
  margin-right: 6px;
}
