.basket-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.typeIcon {
  transform: scale(2);
}
.typeIconSVG {
  height: 36px;
  width: 36px;
  margin-left: -8px;
  margin-top: -8px;
  margin-right: -8px;
  opacity: 60%;
  text-shadow: #000 2px 2px 3px 0;
  color: #FFFFFF99;
}
.basket-cont {
  margin-left: 6px;
  margin-right: 6px;
}
.basket-card {
  margin-bottom: 5px; 
  min-width: 366px;
  .mat-mdc-card-content {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    margin-bottom: -10px;
  }
}
