
<main>
    <div class="container swatch-row col-lg-10 col-md-12">
            <mat-card class="swatch-card" id="sCard-1">
                <mat-chip>Wotan Tölgy</mat-chip>
                <img src="\assets\wotan_oak.jpg" class="img-thumbnail" alt="Wotan Oak" width="300" height="300" />
            </mat-card>
            <mat-card class="swatch-card" id="sCard-2">
                <mat-chip>Kék 77</mat-chip>
                <img src="\assets\blue_couch.jpg" class="img-thumbnail" alt="Couch Blue" width="300" height="300" />
            </mat-card>
            <mat-card class="swatch-card" id="sCard-3">
                <mat-chip>Fehér</mat-chip>
                <div class="color-fit" style="background-color: white !important;"></div>
            </mat-card>
            <mat-card class="swatch-card" id="sCard-4">
                <mat-chip>Szürke</mat-chip>
                <div class="color-fit" style="background-color: #525458 !important;" ></div>
            </mat-card>
            <mat-card class="swatch-card" id="sCard-5">
                <mat-chip>Tamagawa Tölgy</mat-chip>
                <img src="\assets\tamagawa_oak.jpg" class="img-thumbnail" alt="Tamagawa Oak" width="300" height="300" />
            </mat-card>
            <mat-card class="swatch-card" id="sCard-6">
                <mat-chip>Liverpool Tölgy</mat-chip>
                <img src="\assets\liverpool_oak.jpg" class="img-thumbnail" alt="Liverpool Oak" width="300" height="300" />
            </mat-card>
            <mat-card class="placeholder-card" id="sCard-7">
              
            </mat-card>
            <mat-card class="placeholder-card" id="sCard-8">
               
            </mat-card>
            <!-- <mat-card class="placeholder-card" id="sCard-9">
              
            </mat-card>
            <mat-card class="placeholder-card" id="sCard-10">
              
            </mat-card>
            <mat-card class="placeholder-card" id="sCard-11">
              
            </mat-card>
            <mat-card class="placeholder-card" id="sCard-12">
                
            </mat-card> -->
    </div>
</main>

