<main class="container">
    <section class="headerRow">
      <mat-button-toggle-group name="orderType" aria-label="Rendelés típus" style="margin-bottom: 5px;">
        <mat-button-toggle [value]="true" checked="true" (change)="onValChange($event.value)">Belsős</mat-button-toggle>
        <mat-button-toggle [value]="false" (change)="onValChange($event.value)">Külsős</mat-button-toggle>
      </mat-button-toggle-group>
      <h1 style="color: 333333; margin-left: 2%;">Hímző árgép</h1>
    </section>
    <mat-card class="card">
        <mat-card-content>
          <mat-tab-group>
            <mat-tab label="Folt"> <patch-type-page></patch-type-page> </mat-tab>
            <mat-tab label="Póló"> <shirt-type-page></shirt-type-page> </mat-tab>
            <mat-tab label="Pulcsi"> <sweater-type-page></sweater-type-page> </mat-tab>
            <mat-tab label="Más.."> <other-type-page></other-type-page> </mat-tab>
          </mat-tab-group>
        </mat-card-content>
        <mat-card-actions>
          <mat-expansion-panel hideToggle 
          (opened)="settingsOpenState = true"
          (closed)="settingsOpenState = false"
          [ngClass]="{'hundred': settingsOpenState === true}">
        
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon aria-hidden="false" fontIcon="settings"></mat-icon>
              </mat-panel-title>
              <mat-panel-description>
                Számítási beállítások
              </mat-panel-description>
            </mat-expansion-panel-header>
            <settings-patch></settings-patch>
          </mat-expansion-panel>
        </mat-card-actions>
    </mat-card>
</main>