body{
    height: 100%;
}
.top-margin {
  margin-top: 3%;
}
.card{
    height: 100%;
}
.basket-fab {
  position: sticky;
  z-index: 999;
  margin-left: 8px;
  bottom: 8px;
}
@media (min-width: 1100px) { /* xl */
  .width-adjust {
    width: 1320px !important;
  }
}

