/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html,
body {
    height: 100%;
    width: 100%;
}
html {
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  //background: linear-gradient(315deg, rgba(222,228,161,1) 0%, rgba(114,225,117,1) 100%); 
  background-color: rgb(168,227,139);
  background-attachment: fixed; /*edit*/
}

.typeCard {
    margin-top: 1.5%;
    padding: 2%;
    padding-right: 1%;
    //width: auto;
}

.container[_ngcontent-tcb-c37] {
    margin-top: 5%;
}

.card {
    //min-width: fit-content;
    min-height: min-content;
}
.mat-mdc-card-content {
  padding-left: 0;
}
.basket {
  padding: 15px;
  height: 614.719px;
  min-width: 420px;

  background-color: rgb(77, 77, 77) !important;
  color: #FFFFFF99;
  scroll-behavior: smooth;
}
.basket-dialog {
  padding-left: 0;
  padding-right: 0;
}

.column {
    display: flex;
    flex-direction: column;

  .button, .mat-mdc-button, .mat-button, .btn {
    margin-bottom: 22px;
    height: 56px;
  }
}
.column.left {
  padding-right: 1%;
}
.column.right {
  padding-left: 1%;
  padding-left: 1%;
}

.input-row, .row {
    display: flex;
    flex-flow: row wrap;
}
.submitButtons {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  flex-wrap: wrap;
}
.headerRow {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-flow: row;
  border: none;
  z-index: -3;
}
.bodyRow {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  height: 100%;
}

.calculatorBody {
  @media (min-width: 992px) {
    width: calc(100% - 440px);
  }
  @media (max-width: 992px) {
    width: 100%;
  }
}

.mat-divider, .mat-divider-horizontal {
  margin-bottom: 2%;
}

.hundred {
    width: 100%;
}

.blackText {
    color: black;
}

.output {
    background-color: #424242;
}

[class*='ng-tns-c'] {
    color: #FFFFFF99;
}

.mat-button-toggle-checked.mat-button-toggle-appearance-standard {
    background-color: #555555;
    color: rgba($color: #72e175, $alpha: 1) !important;
}
.mdc-button__label {
  color: #72e175
}
.mat-mdc-button {
  background-color: #555555;
}
.mat-mdc-raised-button {
  background-color: #707070;
}
.btn {
  width: 49%;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;  
  background: transparent;  
}
::-webkit-scrollbar-thumb {
  @media (max-width: 768px) {
    .container{
      padding: 0;
      margin-left: 0 !important;
      margin-right: 0 !important;
      overflow-x: hidden;
    }
  }
}

#bottom-bar {
  position: fixed; 
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
  display: flex;
  justify-content: space-between;
  z-index: -1;
  height: 50px;
  //background-color: #555555;
  //color: #FFFFFF99;

  .heart-link {
    color: inherit;
    text-decoration: none;
  }
}

#mat-mdc-dialog-0 {
  .mat-dialog-content {
    height: 700px;
  }
}
